{% extends 'base.html.twig' %}
{% block seo %}
    <title>Antalasoft</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}

{% block main %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="breadcrumbs">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}"><i class="bi bi-house"></i> Accueil</a></li>
                    <li class="breadcrumb-item active current">article Details</li>
                </ol>
            </nav>
        </div>

        <div class="title-wrapper">
            <h1>Détail de l'article</h1>
            <p>{{ article.title }}</p>
        </div>
    </div><!-- End Page Title -->

    <!-- Service Details 2 Section -->
    <section id="service-details-2" class="service-details-2 section">

        <div class="container gy-0" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-5 mb-0">

                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="service-image">
                        <img src="{{ asset('upload/images/articles/' ~ article.image) | imagine_filter('thumbnail_article')}}" alt="{{ article.title }}" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
                    <div class="service-content">
                        {{ article.firstDescription | raw }}
                    </div>
                </div>

            </div>

            <div class="row my-0">

                <div class="col-lg-8" data-aos="fade-right" data-aos-delay="100">
                    <div class="booking-section">
                        <h3>{{ article.subTitle }}</h3>
                        {{ article.description | raw }}

                    </div>
                </div>


                <div class="col-lg-4" data-aos="fade-left" data-aos-delay="200">
                    <div class="appointment-card">
                        <h4>Contactez-nous</h4>
                        <p>Simple et rapide, nous sommes à votre écoute</p>
                        <a href="{{ path('app_contact_new') }}" class="btn-appointment">Formulaire de contact</a>
                        <div class="contact-alternative">
                            <span>Ou appelez-nous au</span>
                            <a href="tel:+212612504068">+212 6 12 50 40 68</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /Service Details 2 Section -->

</main>
{% endblock %}
