{% extends 'base.html.twig' %}
{% block seo %}
    <title>Blog & Actualités | Antalasoft</title>
    <meta name="description" content="Retrouvez les dernières actualités, conseils et tendances en technologie, développement web, et innovation partagées par Antalasoft.">
    <meta name="keywords" content="blog Antalasoft, actualités tech, développement web, tendances numériques, innovation, articles informatiques">

    <!-- Open Graph -->
    <meta property="og:title" content="Blog & Actualités | Antalasoft">
    <meta property="og:description" content="Retrouvez les dernières actualités, conseils et tendances en technologie, développement web, et innovation partagées par Antalasoft.">
    <meta property="og:image" content="{{ asset('assets/img/logo/logo.png') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Blog & Actualités | Antalasoft">
    <meta name="twitter:description" content="Retrouvez les dernières actualités, conseils et tendances en technologie, développement web, et innovation partagées par Antalasoft.">
    <meta name="twitter:image" content="{{ asset('assets/img/logo/logo.png') }}">

    <!-- Robots -->
    <meta name="robots" content="index, follow">

    <!-- Canonical -->
    <link rel="canonical" href="{{ app.request.uri }}">
{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="breadcrumbs">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}"><i class="bi bi-house"></i> Accueil</a></li>
            <li class="breadcrumb-item active current">Actualités</li>
          </ol>
        </nav>
      </div>

        <div class="title-wrapper">
            <h1>Nos articles</h1>
            <p>Retrouvez nos conseils, actualités et astuces pour rester à jour avec les dernières tendances technologiques.</p>
        </div>

    </div><!-- End Page Title -->

      <!-- recentes actualite Section -->
      <section id="featured-departments" class="featured-departments section pt-0">

          {% include 'sections/blog.html.twig' %}

      </section>
      <!-- /recentes actualite Section-->

  </main>

 {% endblock %}
