{% extends 'base.html.twig' %}
{% block seo %}
    <title>Antalasoft</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="breadcrumbs">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}"><i class="bi bi-house"></i> Accueil</a></li>
            <li class="breadcrumb-item active current">Realisation detail</li>
          </ol>
        </nav>
      </div>

      <div class="title-wrapper">
          <h1>Détails de la réalisation</h1>
          <p>{{ realisation.title }}</p>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details 2 Section -->
    <section id="service-details-2" class="service-details-2 section py-0">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-image">
              <img src="{{ asset('upload/images/realisations/'~ realisation.poster) | imagine_filter('thumbnail_realisation_detail') }}" alt="antalaSoft {{ realisation.title }}" class="img-fluid">
              <div class="service-tag">
                <span>{{ realisation.service.name }}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
            <div class="service-content">
              <p class="service-tagline">{{ realisation.subTitle }}</p>

              <div>{{ realisation.description | raw }}</div>

            </div>
          </div>

        </div>

      </div>

    </section>
      <!-- /Service Details 2 Section -->
      <!-- realisation Section -->
      <section id="gallery" class="gallery section py-5">
          <div class="container section-title py-0" data-aos="fade-up">
              <h2>Quelques images</h2>
          </div>

          <div class="container" data-aos="fade-up" data-aos-delay="100">

              <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
                  <div class="row g-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                      {% for image in realisation.realisationImages %}
                      <div class="col-lg-4 col-md-6 gallery-item isotope-item filter-nature">
                          <div class="gallery-card">
                              <div class="gallery-img">
                                  <img src="{{ asset('upload/images/realisations/'~ image.image)| imagine_filter('thumbnail_realisation') }}" class="img-fluid" alt="antalaSoft {{ realisation.title }}" loading="lazy">
                                  <div class="gallery-overlay">
                                      <div class="gallery-info">
                                          <a href="{{ asset('upload/images/realisations/'~ image.image) }}" class="glightbox gallery-link" data-gallery="gallery-images">
                                              <i class="bi bi-plus-circle"></i>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                      <!-- End Gallery Item -->

                  </div><!-- End Gallery Container -->
              </div>

          </div>

      </section>
      <!-- /realisation Section -->

  </main>

{% endblock %}
