<footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6 footer-about">
                <a href="{{ path('app_home') }}" class="logo d-flex align-items-center">
                    <span class="sitename">AntalaSoft</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Sidi - maroof</p>
                    <p>Casablanca, Maroc</p>
                    <p class="mt-3"><strong>Télephone:</strong> <span>+212612504068</span></p>
                </div>

            </div>

            <div class="col-md-3 footer-links">
                <h4>Navigation</h4>
                <ul>
                    <li><a href="{{ path('app_home') }}#home-about">A propos</a></li>
                    <li><a href="{{ path('app_services') }}">Nos services</a></li>
                    <li><a href="{{ path('app_realisations') }}">Nos réalisations</a></li>
                    <li><a href="{{ path('app_formations') }}">Nos formations</a></li>
                </ul>
            </div>

            <div class=" col-md-3 footer-links">
                <h4>Nos Services</h4>
                <ul>
                    <li><a href="{{ path('app_services') }}">Analyse de données, Data Science & IA</a></li>
                    <li><a href="{{ path('app_services') }}">Web Scraping & Automatisation</a></li>
                    <li><a href="{{ path('app_services') }}">Développement Web</a></li>
                    <li><a href="{{ path('app_services') }}">Applications Mobiles</a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-links">
                <h4>Suivez-nous</h4>
                <p>Restez connecté avec nous sur les réseaux sociaux pour ne rien manquer de notre actualité.</p>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">AntalaSoft</strong> <span>Tous droits réservés</span></p>
        <div class="credits">
            Conçu par <a href="https://antalasoft.com/">AntalaSoft</a>
        </div>
    </div>

</footer>
