<div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
        <ul class="gallery-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Tout</li>
            {% for service in realisationServices %}
            <li data-filter=".{{ service.name | slug }}">{{ service.name }}</li>
            {% endfor %}
        </ul><!-- End Gallery Filters -->

        <div class="row g-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            {% for realisation in realisations %}
            <div class="col-lg-4 col-md-6 gallery-item isotope-item {{ realisation.service.name | slug }}">
                <div class="gallery-card">
                    <div class="gallery-img">
                        <img src="{{ asset('upload/images/realisations/' ~ realisation.poster) | imagine_filter('thumbnail_realisation')}}" class="img-fluid" alt="{{ realisation.title }}" loading="lazy">
                        <div class="gallery-overlay">
                            <div class="gallery-info">
                                <h4>{{ realisation.title }}</h4>
                                <a href="{{ path('app_realisation_details', {'slug': realisation.slug}) }}" class="gallery-link">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End Gallery Item -->


        </div><!-- End Gallery Container -->
    </div>

</div>
